PyAudio==0.2.14
requests==2.31.0
fastapi>=0.104.1
loguru
pydantic
pydub
python-dotenv
librosa
torch>=2.4
torchaudio>=2.4
uvicorn
uuid
git+https://github.com/k2-fsa/OmniVoice.git
accelerate
soundfile
hf_transfer