PyAudio==0.2.14
requests==2.31.0
fastapi>=0.104.1
loguru
pydantic
pydub
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cu128
torch>=2.4
torchaudio>=2.4
uvicorn
uuid
git+https://github.com/k2-fsa/OmniVoice.git
accelerate
soundfile
hf_transfer